@page "/"
@using System.Net.Http

@code {
    private string newRangeValue;
    private int newTargetValue;
    private string resultValue;


    private async Task MakeOperation()
    {
        try
        {
            int[] range = Array.ConvertAll<string, int>(newRangeValue.Split(","), s => int.TryParse(s, out var i) ? i : 0);
            resultValue = await Models.ListViewModel.ExecuteOperation(range, newTargetValue);
        }
        catch (Exception e)
        {
            resultValue = "error";
        }

    }
}
    <h2> Welcome to the</h2>
    <h1>Coin Changes Changer 0.2!</h1>
<p>
    Below you will find two input boxes: Sequence and Target. <br />
    The values you put into sequence wil try and decompose target. <br />
    If they are possible to, you will see the respective decomposed values. Try and see!
</p>

<div>
    Sequence<br />
    <input id="txtRange" type="text" placeholder="1,2,3,4" @bind="newRangeValue" onkeyup="spaceToComma()" />
</div>
<div>
    Target<br />
    <input id="txtTarget" type="text" placeholder="" @bind="newTargetValue" />
</div>
<input id="btnSend" type="button" @onclick="MakeOperation" value="Send" />
<br />
<textarea id="txtResult" type="text" placeholder="Resultado" @bind="resultValue" readonly/>

<br />
