@page "/"
@using System.Net.Http

@code {
    private string newRangeValue;
    private int newTargetValue;
    private string resultValue;


    private async Task MakeOperation()
    {
        try
        {
            int[] range = Array.ConvertAll<string, int>(newRangeValue.Split(","), s => int.TryParse(s, out var i) ? i : 0);
            resultValue = await Models.ListViewModel.ExecuteOperation(range, newTargetValue);
        }
        catch (Exception e)
        {

        }

    }
}

    Hello, all is good!
<br />
<input id="txtRange" type="text" placeholder="1,2,3,4" @bind="newRangeValue" />
<input id="txtTarget" type="text" placeholder="" @bind="newTargetValue" />
<input id="btnSend" type="button" @onclick="MakeOperation" value="Enviar" />
<br />
<label>Resultado:</label>
<textarea id="txtResult" type="text" placeholder="Resultado" @bind="resultValue" />

<br />
